[submodule "UROSBridge"]
	path = UROSBridge
	url = git@github.com:robcog-iai/UROSBridge.git
[submodule "ROSBridgeTest/Plugins/UROSBridge"]
	path = ROSBridgeTest/Plugins/UROSBridge
	url = git@github.com:robcog-iai/UROSBridge.git
