<?xml version="1.0" ?>

<robot name="test">
  <link name="first_link">
	<inertial>
	  <mass value="100"/>
	</inertial>
	<visual>
	  <geometry>
		<box size="3.0 1.5 0.5"/>
	  </geometry>
	  <material name="blue">
		<color rgba="0 0 .8 1"/>
	  </material>
	</visual>
  </link>

  <link name="second_link">
	<inertial>
	  <mass value="50"/>
	</inertial>
	<visual>
	  <geometry>
		<box size="1 1 1"/>
	  </geometry>
	  <material name="blue">
		<color rgba="0 0 .8 1"/>
	  </material>
	</visual>
  </link>
  <joint name="first_to_second_joint" type="prismatic">
	<parent link="first_link"/>
	<child link="second_link"/>
	<origin xyz="-1 0 0.5" rpy="0 0 0"/>
	<axis xyz="1 0 0"/>
	<limit lower="0" upper="2" effort="500" velocity="10"/>
  </joint>
  <link name="third_link">
	<inertial>
	  <mass value="25"/>
	</inertial>
	<visual>
	  <geometry>
		<box size="0.5 0.5 0.5"/>
	  </geometry>
	  <material name="blue">
		<color rgba="0 0 .8 1"/>
	  </material>
	</visual>
  </link>
  <joint name="second_to_third_joint" type="continuous">
	<parent link="second_link"/>
	<child link="third_link"/>
	<origin xyz="0 0 0.5" rpy="0 0 0"/>
	<axis xyz="0 0 1"/>
  </joint>
  <link name="forth_link">
	<inertial>
	  <mass value="25"/>
	  <origin xyz="0.0 0 0" rpy="0 0 0" />
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <geometry>
		<box size="2.0 0.5 0.5"/>
	  </geometry>
	  <origin xyz="-1 0 0" rpy="0 0 0" />
	  <material name="blue">
		<color rgba="0 0 .8 1"/>
	  </material>
	</visual>
  </link>
  <joint name="third_to_forth_joint" type="revolute">
	<parent link="third_link"/>
	<child link="forth_link"/>
	<origin xyz="0 0 0.5" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
	<limit lower="0" upper="2" effort="500" velocity="0"/>
  </joint>
</robot>
